<!DOCTYPE html>

<html>
<head>
	<title>CatchPhrase.ly</title>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <!-- Underscore -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- ToEat.ly -->
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <script type="text/javascript" src="index.js"></script>
</head>
<body>
   
</body>

 <!-- Underscore template -->
  <script type="text/template" id="phrases-template">
    <% _.each(collection, function(item){ %>
      <li class='list-group-item'><%= item.name %>
        <span class="label label-default"><%= item.yumminess%></span>
      </li>
    <% }); %>
</html>